<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/camping_search.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" href="../static/logo.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>캠핑장 찾기</title>
    </head>
    <body>
        <header>
            <div class="logo_container">
                <a href="mainpage.html" class="head_A">
                    <img class="fit-picture"
                         src="../static/차박.png"
                         alt="Grapefruit slice atop a pile of other slices">
                </a>
            </div>
        </header>

        <section>
            <div class="search">
                <div class="text-area">
                    <h1>공개 캠핑장 찾기</h1>
                    <P>시,도 별로 공개된 캠핑장 정보들 입니다.<br>
                        탭에서 '도'를 선택해 주세요.
                    </P>
                    <div class="box"></div>

                    <div class="select">
                        <select name="" id="sido">
                            <option value="서울">서울</option>
                            <option value="경기">경기도</option>
                            <option value="충청">충청도</option>
                            <option value="전라">전라도</option>
                            <option value="경상">경상도</option>
                            <option value="강원">강원도</option>
                            <option value="제주">제주도</option>
                        </select>
                    </div>
                    <button type="button" onclick="onclickSearch()" class="btn">찾기</button>

                </div>
            </div>
            <div class="map_search">
                <div id="map" style="width:900px;height:750px;"></div>
            </div>

            <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=8fda181e9222674d77998c855b95849c&libraries=clusterer"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(37.557150, 126.969328), // 지도의 중심좌표
                        level: 11, // 지도의 확대 레벨
                        mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
                    };

                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                var clusterer = new kakao.maps.MarkerClusterer({
                    map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                    averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                    minLevel: 10 // 클러스터 할 최소 지도 레벨
                });


                function onclickSearch() {

                    var sido = $('#sido').val();
                    alert(sido)

                    $.ajax({
                        type: "POST",
                        url: "/list",
                        data: {sido_give: sido},
                        success: function (response) {
                            if (response["result"] == "success") {
                                clusterer.clear()

                                var markers = [];

                                var list = response.list;

                                for (var i = 0; i < list.length; i++) {
                                    const current_i = i
                                    var camp_address = list[current_i].address;
                                    var camp_name = list[current_i].camp_name;
                                    var camp_X = list[current_i].mapX;
                                    var camp_Y = list[current_i].mapY;
                                    var camp_key = list[current_i].camp_id;

                                    console.log(camp_name, current_i, camp_X, camp_Y)
                                    // 마커가 표시될 위치입니다.(데이터 베이스에서 위도,경도 값을 반대로 받아와서 camp_Y :위도 , camp_X :경도)
                                    var markerPosition = new kakao.maps.LatLng(camp_Y, camp_X);
                                    // 마커를 생성합니다
                                    var marker = new kakao.maps.Marker({
                                        position: markerPosition,
                                        clickable: true
                                    });

                                    // 마커가 지도 위에 표시되도록 설정합니다
                                    marker.setMap(map);

                                    kakao.maps.event.addListener(marker, 'click', function () {
                                        var iwContent = '<div style="padding:5px;">Hello World! <br><a href="https://map.kakao.com/link/map/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                                        var iwPosition = new kakao.maps.LatLng(camp_Y, camp_X); //인포윈도우 표시 위치입니다
                                        var iwRemoveable = true;

                                        // 인포윈도우를 생성합니다
                                        var infowindow = new kakao.maps.InfoWindow({
                                            position: iwPosition,
                                            content: iwContent,
                                            removable: iwRemoveable
                                        });

                                        console.log(current_i, "ith")
                                        console.log(camp_name, marker)
                                        // 마커 위에 인포윈도우를 표시합니다
                                        infowindow.open(map, marker);
                                    });

                                    markers.push(marker);
                                }
                                clusterer.addMarkers(markers);


                            }

                        }
                    })
                }
            </script>

        </section>
    </body>
</html>